<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <br><br> <br><br>
    <div class="container">
      <h1 class="display-3">Jorah, Entertainment!</h1>
      <p><strong>Jorah Entertainment group company</strong>
is an online movie store company that located in Kigali Rwanda. We store all categories of movies (Rwandan, Western and Indian movies as well). In jorah, we also sell all that kinds of movies. Our website is trustworthy by that it is difficult to be attached by external intruders. We highly appreciates our partners especially our customers. For more about our services and product you can visit our website.</p>
     
      <%= link_to  "VISIT OUR MOVIESTORE", root_path %> 
       <br><br>
    <p>WELCOME IN JORAH ENTERNAINMENT GROUP COMPANY!!!!!!</p>
    </div>
  
</main>
<footer class="pt-4 my-md-5 pt-md-5 border-top bg-dark">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
         
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource names</a></li>
          <li><a class="text-muted" href="#">other resource</a></li>
          <li><a class="text-muted" href="#"> Related resources</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer>
